body{
    margin: 0 ;
    outline: 0;
}
.banner{
    display: flex;
    background: #E5E5E5;
    padding-bottom: 72px;
}
.half-width{
    width: 50%;
    margin-left: 50px;
}

.half-width h2{
    font-weight: 700;
    font-size: 50px;
    color:#575757;
}
.orange-color{
    color: #FBA24F;    
}
.half-width p{
    font-size: 20px;
    color: #828282;
    font-weight: 500;

}
.half-width a{
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    text-decoration: none;
    display: inline-block;
    padding: 12px 34px;
    border-radius: 20px;
    color: #fff;

}
.half-width img{
    width: 100%;
}
.image-class{
    margin-left: 25px;
    margin-right: 50px;
}
/* about part  */
.about{
    display: flex;
    background: url(../image/shapes/Frame\ 58.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px 0;
}
.about .half-width{
margin-left: 10px;
margin-right: 30px;
    
}
.about .image-class{
    margin-left: 40px;
    margin-right: 20px;
}
.about .half-width p {
  
  font-size: 18px;
}
.recipies h2{
    text-align: center;  
    text-transform: capitalize;
    color: #575757; 
}
.recipies .recipies-paragraph{
text-align: center;
padding:0 280px;
}
.recipies-body{
    display: flex;
    margin: 0 40px;
    padding-bottom: 60px;
}
.recipies-1{
    width: 28%;
    padding: 20px;
    border-radius: 10px;
    margin-right: 30px;
    box-shadow: 0px 0px 40px 0px #00000026;

}
.recipies-1 img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
.recipies-1 h1{
    font-weight: 700;
    color: #18191F;
    font-size: 28px;
    text-transform: capitalize;
}

.recipies-1 p{
    font-size: 18px;
    line-height: 24px;
    color: #18191F;

}
.my-team h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    color: #18191F;

}
.team-body{
    display: flex;
    margin: 0 40px;
    padding-bottom: 60px;    
}
.team-img{
    text-align: center;
    width: 28%;
    padding: 20px;
    border-radius: 10px;
    margin-right: 30px;
    box-shadow: 0px 0px 40px 0px #00000026;

}
.team-img img{
    width: 100%;
    height: 300px; 
    border-radius: 10px;   
}
.team-img h3{
    text-align: center;  
    text-transform: capitalize;
    color: #575757; 
    font-size: 28px;
    font-weight: 600;
}
.team-img a{
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    text-decoration: none;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 20px;
    color: #fff; 
    
}
.client-img p{
    font-size: 18px;
    line-height: 24px;
    color: #18191F;
}
footer{
    background: #0B0D17;
    text-align: center;
    

}
footer h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #5B5B5B;
    padding: 37px 0;


}
.footer-span{
    color:tomato;

}
footer p{
    font-size: 16px;
    margin: 0;
    color: #fff;
    padding-bottom: 115px;
}